In [297]:
#  access the data 
import pandas as pd
dataStaff=pd.read_csv('J:\\SATS\\SATS_RAM.csv')

In [163]:
dataStaff=dataStaff[dataStaff['Orientation']=='Arrival']

In [164]:
# remove .0 from ET column
dataStaff['ET']=dataStaff['ET'].astype(str).str[:-2]

In [165]:
dataStaff.tail()

      Flight Date Orientation  Flight    ST    ET  RLO   RSM  EO   AA
20208  30-11-2022     Arrival  SQ 193  2315  2304   1.0    2   1  1.0
20209  30-11-2022     Arrival  TR 653  2315  2353   1.0    2   1  1.0
20210  30-11-2022     Arrival  SQ 713  2330   105   1.0    2   1  1.0
20212  30-11-2022     Arrival  TR 617  2340  2353   1.0    3   1  1.0
20218  30-11-2022     Arrival  SQ 897  2355  2338   1.0    1   1  1.0

In [166]:
# dataStaff['ET'] = '{:0>4}'.format(dataStaff['ET'])
# set ET to string
dataStaff['ET']=dataStaff['ET'].astype(str)
dataStaff['ET'] = dataStaff['ET'].apply(lambda x: '{:0>4}'.format(x))
dataStaff.tail()

      Flight Date Orientation  Flight    ST    ET  RLO   RSM  EO   AA
20208  30-11-2022     Arrival  SQ 193  2315  2304   1.0    2   1  1.0
20209  30-11-2022     Arrival  TR 653  2315  2353   1.0    2   1  1.0
20210  30-11-2022     Arrival  SQ 713  2330  0105   1.0    2   1  1.0
20212  30-11-2022     Arrival  TR 617  2340  2353   1.0    3   1  1.0
20218  30-11-2022     Arrival  SQ 897  2355  2338   1.0    1   1  1.0

In [159]:
dataStaff.tail()

      Flight Date Orientation  Flight    ST    ET  RLO   RSM  EO   AA
20208  30-11-2022     Arrival  SQ 193  2315  2304   1.0    2   1  1.0
20209  30-11-2022     Arrival  TR 653  2315  2353   1.0    2   1  1.0
20210  30-11-2022     Arrival  SQ 713  2330  0105   1.0    2   1  1.0
20212  30-11-2022     Arrival  TR 617  2340  2353   1.0    3   1  1.0
20218  30-11-2022     Arrival  SQ 897  2355  2338   1.0    1   1  1.0

In [151]:
# any null values?
dataStaff['ET'].isnull().sum()

0

In [167]:
# insert : into ET
dataStaff['ET'] = dataStaff['ET'].str[:2] + ':' + dataStaff['ET'].str[2:]

In [169]:
dataStaff.tail()

      Flight Date Orientation  Flight    ST     ET  RLO   RSM  EO   AA
20208  30-11-2022     Arrival  SQ 193  2315  23:04   1.0    2   1  1.0
20209  30-11-2022     Arrival  TR 653  2315  23:53   1.0    2   1  1.0
20210  30-11-2022     Arrival  SQ 713  2330  01:05   1.0    2   1  1.0
20212  30-11-2022     Arrival  TR 617  2340  23:53   1.0    3   1  1.0
20218  30-11-2022     Arrival  SQ 897  2355  23:38   1.0    1   1  1.0

In [171]:
# convert ET to datetime
dataStaff['ET'] = pd.to_datetime(dataStaff['ET'])

ParserError: Unknown string format: 00:0n present at position 11

error: missing ), unterminated subpattern at position 1

In [176]:
# import pandas as pd
# import re

# # dataStaff = pd.DataFrame({'ET': ['12:30','14:00','00:0n','16:00']})

# # check for invalid values using regular expressions
# invalid_mask = dataStaff['ET'].apply(lambda x: bool(re.search(r'^(?:(?:([01]?\d|2[0-3]):)?([0-5]?\d):[0-5]?[0-9]n$', x)))

# # check for invalid values
# print(dataStaff[invalid_mask])
# Convert columns to datetime data type with 'coerce' error handling
dataStaff['ET'] = pd.to_datetime(dataStaff['ET'], format='%H:%M', errors='coerce')

# check for NaT values
print(dataStaff[pd.isna(dataStaff['ET'])])

Empty DataFrame
Columns: [Flight Date, Orientation, Flight, ST, ET, RLO , RSM, EO, AA]
Index: []

In [175]:
# delete all rows with NaT values in the 'ET' column
dataStaff = dataStaff.dropna(subset=['ET'])

In [160]:
# Convert columns to numeric data type with 'coerce' error handling
dataStaff['ET'] = pd.to_numeric(dataStaff['ET'], errors='coerce')

# check for NaN values
# print(dataStaff[pd.isna(dataStaff['ET'])])

In [161]:
print(dataStaff[pd.isna(dataStaff['ET'])])

      Flight Date Orientation  Flight    ST  ET  RLO   RSM  EO   AA
30       1/9/2022     Arrival  TR 713   520 NaN   0.0    0   0  0.0
461      3/9/2022     Arrival  TR 509   405 NaN   0.0    0   0  0.0
462      3/9/2022     Arrival  TR 713   410 NaN   0.0    0   0  0.0
1428     7/9/2022     Arrival  SQ 896  1532 NaN   0.0    0   0  0.0
1433     7/9/2022     Arrival  SQ 896  1551 NaN   0.0    0   0  0.0
1654     8/9/2022     Arrival  TR 809  1630 NaN   0.0    0   0  0.0
1884     9/9/2022     Arrival  SQ 333  1730 NaN   0.0    0   0  0.0
2047    10/9/2022     Arrival  SQ 192   933 NaN   0.0    0   0  0.0
2052    10/9/2022     Arrival  SQ 192   951 NaN   0.0    0   0  0.0
2321    11/9/2022     Arrival  SQ 939  1550 NaN   1.0    3   1  2.0
3136   15-09-2022     Arrival  SQ 334  1414 NaN   0.0    0   0  0.0
3794   18-09-2022     Arrival  SQ 326  1137 NaN   0.0    0   0  0.0
4644   22-09-2022     Arrival  SQ 912  1229 NaN   0.0    0   0  0.0
6318   30-09-2022     Arrival  TR 848   649 NaN   0.0    0   0  0.0
9954   17-10-2022     Arrival  SQ 423   740 NaN   0.0    0   0  0.0
10915  21-10-2022     Arrival   SQ 36  1859 NaN   0.0    0   0  0.0
10917  21-10-2022     Arrival   SQ 36  1901 NaN   0.0    0   0  0.0
12666  29-10-2022     Arrival  SQ 186  1754 NaN   0.0    0   0  0.0
12997  31-10-2022     Arrival  SQ 306   555 NaN   0.0    0   0  0.0
13866   4/11/2022     Arrival  SQ 402   300 NaN   0.0    0   0  0.0
14169   5/11/2022     Arrival  SQ 936   914 NaN   0.0    0   0  0.0
14418   6/11/2022     Arrival  SQ 192   951 NaN   0.0    0   0  0.0
14477   6/11/2022     Arrival   SQ 21  1715 NaN   NaN    0   0  NaN
14730   7/11/2022     Arrival  SQ 186  1851 NaN   0.0    0   0  0.0
15252  10/11/2022     Arrival   TR 25   225 NaN   0.0    0   0  0.0
17832  20-11-2022     Arrival  SQ 528  2137 NaN   0.0    0   0  0.0
18868  25-11-2022     Arrival  SQ 317   750 NaN   0.0    0   0  0.0
19414  27-11-2022     Arrival  SQ 184  1424 NaN   0.0    0   0  0.0

In [143]:
# convert ET to datetime by adding : in the middle
# dataStaff['ET']=pd.to_datetime(dataStaff['ET'], format='%H%M').dt.strftime('%H:%M')
dataStaff['ET'] = pd.to_datetime(dataStaff['ET'].astype(str), format='%H%M', errors='coerce')

# check for NaT values
print(dataStaff[pd.isna(dataStaff['ET'])])

# pd.to_datetime(df['time'], format='%H%M').dt.strftime('%H:%M')
# dataStaff['ET']=pd.to_datetime(dataStaff['ET'], format='%H:%M').dt.strftime('%H:%M')

      Flight Date Orientation  Flight    ST  ET  RLO   RSM  EO   AA
30       1/9/2022     Arrival  TR 713   520 NaT   0.0    0   0  0.0
461      3/9/2022     Arrival  TR 509   405 NaT   0.0    0   0  0.0
462      3/9/2022     Arrival  TR 713   410 NaT   0.0    0   0  0.0
1428     7/9/2022     Arrival  SQ 896  1532 NaT   0.0    0   0  0.0
1433     7/9/2022     Arrival  SQ 896  1551 NaT   0.0    0   0  0.0
1654     8/9/2022     Arrival  TR 809  1630 NaT   0.0    0   0  0.0
1884     9/9/2022     Arrival  SQ 333  1730 NaT   0.0    0   0  0.0
2047    10/9/2022     Arrival  SQ 192   933 NaT   0.0    0   0  0.0
2052    10/9/2022     Arrival  SQ 192   951 NaT   0.0    0   0  0.0
2321    11/9/2022     Arrival  SQ 939  1550 NaT   1.0    3   1  2.0
3136   15-09-2022     Arrival  SQ 334  1414 NaT   0.0    0   0  0.0
3794   18-09-2022     Arrival  SQ 326  1137 NaT   0.0    0   0  0.0
4644   22-09-2022     Arrival  SQ 912  1229 NaT   0.0    0   0  0.0
6318   30-09-2022     Arrival  TR 848   649 NaT   0.0    0   0  0.0
9954   17-10-2022     Arrival  SQ 423   740 NaT   0.0    0   0  0.0
10915  21-10-2022     Arrival   SQ 36  1859 NaT   0.0    0   0  0.0
10917  21-10-2022     Arrival   SQ 36  1901 NaT   0.0    0   0  0.0
12666  29-10-2022     Arrival  SQ 186  1754 NaT   0.0    0   0  0.0
12997  31-10-2022     Arrival  SQ 306   555 NaT   0.0    0   0  0.0
13866   4/11/2022     Arrival  SQ 402   300 NaT   0.0    0   0  0.0
14169   5/11/2022     Arrival  SQ 936   914 NaT   0.0    0   0  0.0
14418   6/11/2022     Arrival  SQ 192   951 NaT   0.0    0   0  0.0
14477   6/11/2022     Arrival   SQ 21  1715 NaT   NaN    0   0  NaN
14730   7/11/2022     Arrival  SQ 186  1851 NaT   0.0    0   0  0.0
15252  10/11/2022     Arrival   TR 25   225 NaT   0.0    0   0  0.0
17832  20-11-2022     Arrival  SQ 528  2137 NaT   0.0    0   0  0.0
18868  25-11-2022     Arrival  SQ 317   750 NaT   0.0    0   0  0.0
19414  27-11-2022     Arrival  SQ 184  1424 NaT   0.0    0   0  0.0

In [177]:
dataStaff.columns
# fill NAN with 0
dataStaff['AA'].fillna(0,inplace=True)
dataStaff['RLO '].fillna(0,inplace=True)
# data['RLO'].isnull.sum()

In [178]:
dataStaff['staff']=dataStaff['RSM']+dataStaff['EO']+dataStaff['AA']+dataStaff['RLO ']

In [108]:

dataStaff['staff'].isnull().sum()

0

In [109]:
# display data where staff is null
dataStaff[dataStaff['staff'].isnull()]

Empty DataFrame
Columns: [Flight Date, Orientation, Flight, ST, ET, RLO , RSM, EO, AA, staff]
Index: []

In [110]:
dataStaff['ET']=dataStaff['ET'].astype('str')

In [113]:
# remove the decimal point from the ET column:
dataStaff['ET']=dataStaff['ET'].str.replace('.0','')

# dataStaff['ET']=dataStaff['ET'].str.strip('.')[0]

C:\Users\pc\AppData\Local\Temp\ipykernel_28092\806292004.py:2: FutureWarning: The default value of regex will change from True to False in a future version.
  dataStaff['ET']=dataStaff['ET'].str.replace('.0','')

In [117]:
dataStaff=dataStaff[dataStaff['Orientation']=='Arrival']

In [179]:
dataStaff.head()

,Flight Date,Orientation,Flight,ST,ET,RLO,RSM,EO,AA,staff
2,1/9/2022,Arrival,SQ 208,15,1900-01-01 00:21:00,1.0,4,1,2.0,8.0
4,1/9/2022,Arrival,SQ 242,20,1900-01-01 00:40:00,1.0,3,1,1.0,6.0
11,1/9/2022,Arrival,SQ 11,115,1900-01-01 00:38:00,1.0,3,1,2.0,7.0
22,1/9/2022,Arrival,TR 25,355,1900-01-01 03:55:00,1.0,3,1,1.0,6.0
23,1/9/2022,Arrival,TR 509,405,1900-01-01 05:10:00,1.0,3,1,2.0,7.0

In [180]:
# dataStaff ET to hours:minutes
dataStaff['ET']=pd.to_datetime(dataStaff['ET'], format='%H:%M').dt.strftime('%H:%M')

In [182]:
dataStaff.tail()

      Flight Date Orientation  Flight    ST     ET  RLO   RSM  EO   AA  staff
20208  30-11-2022     Arrival  SQ 193  2315  23:04   1.0    2   1  1.0    5.0
20209  30-11-2022     Arrival  TR 653  2315  23:53   1.0    2   1  1.0    5.0
20210  30-11-2022     Arrival  SQ 713  2330  01:05   1.0    2   1  1.0    5.0
20212  30-11-2022     Arrival  TR 617  2340  23:53   1.0    3   1  1.0    6.0
20218  30-11-2022     Arrival  SQ 897  2355  23:38   1.0    1   1  1.0    4.0

In [24]:
# save the data
data.to_excel('J:\\SATS\\CLEAN_SATS_RAM.xlsx')

In [28]:
#  group and count all the flights by staff
data.groupby('staff')['Flight'].count()

staff
0.0       69
1.0        1
2.0       12
3.0        9
4.0      153
5.0     4786
6.0     7088
7.0     6890
8.0     1022
9.0      148
10.0      28
11.0       8
12.0       2
13.0       1
14.0       1
19.0       1
Name: Flight, dtype: int64

# Read clean STAT RAM

In [329]:
import pandas as pd
dataStaff=pd.read_excel('J:\\SATS\\CLEAN_SATS_RAM.xlsx')

In [330]:
dataStaff.head()

,Unnamed: 0,Flight Date,Orientation,Flight,ST,ET,RLO,RSM,EO,AA,staff
0,0,2022-09-01,Departure,SQ 225,5,21.0,1,3,1,2,7
1,1,2022-09-01,Departure,SQ 608,10,11.0,1,3,0,2,6
2,2,2022-09-01,Arrival,SQ 208,15,21.0,1,4,1,2,8
3,3,2022-09-01,Departure,SQ 336,15,21.0,1,3,1,2,7
4,4,2022-09-01,Arrival,SQ 242,20,40.0,1,3,1,1,6

dataStaff.head()

In [246]:
dataBugagge=pd.read_excel('J:\\SATS\\Buggage.xlsx')

In [44]:
#  remove where Flight No, Flight Date and In-bound Time all three are duplicated all together:
# data1.drop_duplicates(subset=['Flight No','Flight Date','In-bound Time'],keep='first',inplace=True)

In [45]:
# data1.shape

(8011, 3)

In [331]:
# remove the space in between the flight number

dataStaff['Flight']=dataStaff['Flight'].str.strip()
dataStaff['Flight'] = dataStaff['Flight'].str.replace(' ', '')
dataStaff['Flight'].head()

0    SQ225
1    SQ608
2    SQ208
3    SQ336
4    SQ242
Name: Flight, dtype: object

In [332]:
dataStaff=dataStaff[dataStaff['Orientation']=='Arrival']

In [301]:
# set the date column as pandas date
# dataStaff['Flight Date']=pd.to_datetime(dataStaff['Flight Date'])
# arrivalFlights['Flight Date']=pd.to_datetime(arrivalFlights['Flight Date'])

C:\Users\pc\AppData\Local\Temp\ipykernel_28092\33504595.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  arrivalFlights['Flight Date']=pd.to_datetime(arrivalFlights['Flight Date'])

In [303]:
arrivalFlights['Flight Date'].head()

2    2022-09-01
4    2022-09-01
11   2022-09-01
22   2022-09-01
23   2022-09-01
Name: Flight Date, dtype: datetime64[ns]

# Data Bugagge

In [247]:
# dataBugagge['Flight Date']=pd.to_datetime(dataBugagge['Flight Date'])
dataBugagge=pd.read_excel('J:\\SATS\\Buggage.xlsx')

In [248]:
dataBugagge['Flight Date'].head()

0   2022-09-01
1   2022-09-01
2   2022-09-01
3   2022-09-01
4   2022-09-01
Name: Flight Date, dtype: datetime64[ns]

In [249]:
dataBugagge.columns

Index(['Flight No', 'Flight Date', 'In-bound Time', 'Trip Number',
       'ULD Number', 'Pickup Time', 'Dropoff Time'],
      dtype='object')

In [239]:
dataBugagge.dtypes

Flight No                object
Flight Date      datetime64[ns]
In-bound Time    datetime64[ns]
Trip Number             float64
ULD Number               object
Pickup Time      datetime64[ns]
Dropoff Time     datetime64[ns]
dtype: object

In [250]:
# remove empty In-bound Time rows
dataBugagge=dataBugagge[dataBugagge['In-bound Time'].notnull()]

In [251]:
dataBugagge['In-bound Time'].isnull().sum()

0

In [240]:
# In-bound Time to string
dataBugagge['In-bound Time']=dataBugagge['In-bound Time'].astype(str)

In [241]:
dataBugagge['In-bound Time'].head()

0    2022-09-01 00:21:00
1    2022-09-01 00:21:00
2    2022-09-01 00:21:00
3    2022-09-01 00:21:00
4    2022-09-01 00:21:00
Name: In-bound Time, dtype: object

In [242]:
# remove last three characters
dataBugagge['In-bound Time']=dataBugagge['In-bound Time'].str[:-3]

In [210]:
dataBugagge.head()

,Flight No,Flight Date,In-bound Time,Trip Number,ULD Number,Pickup Time,Dropoff Time
0,SQ208,2022-09-01,2022-09-01 00:21,1.0,AKE89138SQ,2022-09-01 00:33:15.220,2022-09-01 00:37:16.930
1,SQ208,2022-09-01,2022-09-01 00:21,1.0,AKE29231SQ,2022-09-01 00:33:15.217,2022-09-01 00:37:16.930
2,SQ208,2022-09-01,2022-09-01 00:21,2.0,AKE28054SQ,2022-09-01 00:33:15.220,2022-09-01 00:37:16.933
3,SQ208,2022-09-01,2022-09-01 00:21,2.0,AKE87419SQ,2022-09-01 00:33:15.220,2022-09-01 00:37:16.933
4,SQ208,2022-09-01,2022-09-01 00:21,2.0,AKE80186SQ,2022-09-01 00:33:15.220,2022-09-01 00:37:16.933

In [252]:
# convrt to HH:MM
dataBugagge['In-bound Time']=pd.to_datetime(dataBugagge['In-bound Time'], format='%Y-%m-%d %H:%M:%S').dt.strftime('%H:%M')

In [254]:
dataBugagge.tail()

,Flight No,Flight Date,In-bound Time,Trip Number,ULD Number,Pickup Time,Dropoff Time
73740,SQ739,2022-11-30,00:11,2.0,BT006,NaT,NaT
73741,SQ739,2022-11-30,00:11,3.0,BT1111,NaT,NaT
73742,SQ739,2022-11-30,00:11,3.0,BT1422,NaT,NaT
73743,SQ739,2022-11-30,00:11,3.0,BT075,NaT,NaT
73744,SQ739,2022-11-30,00:11,3.0,BT879,NaT,NaT

In [243]:
# remove first two characters
# dataBugagge['In-bound Time']=dataBugagge['In-bound Time'].str[11:]

In [304]:
dataBugagge['In-bound Time'].head()

0     00:21
2     00:21
12    00:38
25    00:40
29    03:55
Name: In-bound Time, dtype: object

In [245]:
# dataBugagge['In-bound Time'].tail()

73813
73814
73815
73816
73817
Name: In-bound Time, dtype: object

In [215]:
# convert to HH:MM
# drop all null values
# dataBugagge.dropna(subset=['In-bound Time'],inplace=True)



# dataBugagge['In-bound Time']=pd.to_datetime(dataBugagge['In-bound Time'], format='%H:%M').dt.strftime('%H:%M')

In [216]:
# dataBugagge['In-bound Time']=pd.to_datetime(dataBugagge['In-bound Time'], format='%H:%M').dt.strftime('%H:%M')

ValueError: time data '' does not match format '%H:%M' (match)

In [197]:
# convrt to HH:MM
# dataBugagge['In-bound Time']=pd.to_datetime(dataBugagge['In-bound Time'], format='%Y-%m-%d %H:%M:%S').dt.strftime('%H:%M')

In [194]:
# dataBugagge['In-bound Time']=dataBugagge['In-bound Time'].astype(str)

In [198]:
# dataBugagge['In-bound Time'].head()

0    00:21
1    00:21
2    00:21
3    00:21
4    00:21
Name: In-bound Time, dtype: object

In [76]:
# dataBugagge['In-bound Time']=dataBugagge['In-bound Time'].str.split(' ').str[1]

In [77]:
# dataBugagge['In-bound Time'].head()

0    00:21:00
1    00:21:00
2    00:21:00
3    00:21:00
4    00:21:00
Name: In-bound Time, dtype: object

In [78]:
# dataBugagge['In-bound Time']=dataBugagge['In-bound Time'][3:]
# remove first 3 characters
# dataBugagge['In-bound Time']=dataBugagge['In-bound Time'].str[3:]

In [305]:
dataBugagge.head()

,Flight No,Flight Date,In-bound Time,Trip Number,ULD Number,Pickup Time,Dropoff Time
0,SQ208,2022-09-01,00:21,1.0,AKE89138SQ,2022-09-01 00:33:15.220,2022-09-01 00:37:16.930
2,SQ208,2022-09-01,00:21,2.0,AKE28054SQ,2022-09-01 00:33:15.220,2022-09-01 00:37:16.933
12,SQ11,2022-09-01,00:38,1.0,AKE70581SQ,NaT,NaT
25,SQ242,2022-09-01,00:40,1.0,AKE80436SQ,2022-09-01 00:54:23.003,2022-09-01 00:55:44.893
29,TR25,2022-09-01,03:55,1.0,AKE84300SQ,2022-09-01 04:17:01.517,2022-09-01 04:22:18.260

In [81]:
# dataBugagge['In-bound Time']=dataBugagge['In-bound Time'].str.replace(',',':')
# remove all the suplicates Flight No, Flight Date and In-bound Time
dataBugagge.drop_duplicates(subset=['Flight No','Flight Date','In-bound Time'],keep='first',inplace=True)

In [82]:
dataBugagge.head

<bound method NDFrame.head of       Flight No Flight Date In-bound Time  Trip Number  ULD Number  \
0         SQ208  2022-09-01         21:00          1.0  AKE89138SQ
2        SQ208  2022-09-01         21:00          2.0  AKE28054SQ
12         SQ11  2022-09-01         38:00          1.0  AKE70581SQ
25        SQ242  2022-09-01         40:00          1.0  AKE80436SQ
29         TR25  2022-09-01         55:00          1.0  AKE84300SQ
...         ...         ...           ...          ...         ...
73763     SQ105  2022-10-12           NaN          1.0  AKE84181SQ
73764     SQ224  2022-10-13           NaN          1.0  AKE86114SQ
73767     TR391  2022-10-13           NaN          1.0  AKE11841TR
73768     SQ157  2022-10-13           NaN          1.0      BTBULK
73817   _x001A_         NaT           NaN          NaN         NaN

                  Pickup Time            Dropoff Time
0     2022-09-01 00:33:15.220 2022-09-01 00:37:16.930
2     2022-09-01 00:33:15.220 2022-09-01 00:37:16.933
12                        NaT                     NaT
25    2022-09-01 00:54:23.003 2022-09-01 00:55:44.893
29    2022-09-01 04:17:01.517 2022-09-01 04:22:18.260
...                       ...                     ...
73763 2022-10-12 12:12:09.163 2022-10-12 12:13:25.653
73764 2022-10-13 11:59:19.587                     NaT
73767 2022-10-13 23:37:47.297 2022-10-13 23:37:58.297
73768                     NaT                     NaT
73817                     NaT                     NaT

[8011 rows x 7 columns]>

In [89]:
arrivalFlights.head()

,Unnamed: 0,Flight Date,Orientation,Flight,ST,ET,RLO,RSM,EO,AA,staff
2,2,2022-09-01,Arrival,SQ208,15,21.0,1,4,1,2,8
4,4,2022-09-01,Arrival,SQ242,20,40.0,1,3,1,1,6
11,11,2022-09-01,Arrival,SQ11,115,38.0,1,3,1,2,7
22,22,2022-09-01,Arrival,TR25,355,355.0,1,3,1,1,6
23,23,2022-09-01,Arrival,TR509,405,510.0,1,3,1,2,7

In [333]:
dataStaff.head()

,Unnamed: 0,Flight Date,Orientation,Flight,ST,ET,RLO,RSM,EO,AA,staff
2,2,2022-09-01,Arrival,SQ208,15,21.0,1,4,1,2,8
4,4,2022-09-01,Arrival,SQ242,20,40.0,1,3,1,1,6
11,11,2022-09-01,Arrival,SQ11,115,38.0,1,3,1,2,7
22,22,2022-09-01,Arrival,TR25,355,355.0,1,3,1,1,6
23,23,2022-09-01,Arrival,TR509,405,510.0,1,3,1,2,7

In [307]:
dataBugagge.head()

,Flight No,Flight Date,In-bound Time,Trip Number,ULD Number,Pickup Time,Dropoff Time
0,SQ208,2022-09-01,00:21,1.0,AKE89138SQ,2022-09-01 00:33:15.220,2022-09-01 00:37:16.930
2,SQ208,2022-09-01,00:21,2.0,AKE28054SQ,2022-09-01 00:33:15.220,2022-09-01 00:37:16.933
12,SQ11,2022-09-01,00:38,1.0,AKE70581SQ,NaT,NaT
25,SQ242,2022-09-01,00:40,1.0,AKE80436SQ,2022-09-01 00:54:23.003,2022-09-01 00:55:44.893
29,TR25,2022-09-01,03:55,1.0,AKE84300SQ,2022-09-01 04:17:01.517,2022-09-01 04:22:18.260

In [186]:
dataBugagge.dtypes

Flight No                object
Flight Date      datetime64[ns]
In-bound Time            object
Trip Number             float64
ULD Number               object
Pickup Time      datetime64[ns]
Dropoff Time     datetime64[ns]
dtype: object

In [187]:
# convert In-bound Time to :HH:MM
# dataBugagge['In-bound Time']=pd.to_datetime(dataBugagge['In-bound Time'], format='%H:%M').dt.strftime('%H:%M')

ValueError: time data '38:00' does not match format '%H:%M' (match)

In [308]:
dataStaff['ET'] = pd.to_datetime(dataStaff['ET'], format='%H:%M', errors='coerce')

# check for NaT values
print(dataStaff[pd.isna(dataStaff['ET'])])

       Unnamed: 0 Flight Date Orientation Flight    ST  ET  RLO   RSM  EO  AA  \
0               0  2022-09-01   Departure  SQ225     5 NaT     1    3   1   2
1               1  2022-09-01   Departure  SQ608    10 NaT     1    3   0   2
2               2  2022-09-01     Arrival  SQ208    15 NaT     1    4   1   2
3               3  2022-09-01   Departure  SQ336    15 NaT     1    3   1   2
4               4  2022-09-01     Arrival  SQ242    20 NaT     1    3   1   1
...           ...         ...         ...    ...   ...  ..   ...  ...  ..  ..
20214       20214  2022-11-30   Departure  SQ378  2345 NaT     1    3   1   2
20215       20215  2022-11-30   Departure   SQ26  2355 NaT     1    3   1   2
20216       20216  2022-11-30   Departure  SQ324  2355 NaT     1    2   1   1
20217       20217  2022-11-30   Departure  SQ638  2355 NaT     1    3   1   1
20218       20218  2022-11-30     Arrival  SQ897  2355 NaT     1    1   1   1

       staff
0          7
1          6
2          8
3          7
4          6
...      ...
20214      7
20215      7
20216      5
20217      6
20218      4

[20219 rows x 11 columns]

In [311]:
dataStaff['ET']=pd.to_datetime(dataStaff['ET'], format='%H:%M').dt.strftime('%H:%M')

In [312]:
dataStaff.dtypes

Unnamed: 0              int64
Flight Date    datetime64[ns]
Orientation            object
Flight                 object
ST                      int64
ET                     object
RLO                     int64
RSM                     int64
EO                      int64
AA                      int64
staff                   int64
dtype: object

In [313]:
# datastagg Flight Date to pandas date YYYY-MM-DD:

dataStaff['Flight Date']=pd.to_datetime(dataStaff['Flight Date'], format='%Y-%m-%d', errors='coerce')

In [314]:
dataStaff.tail()

,Unnamed: 0,Flight Date,Orientation,Flight,ST,ET,RLO,RSM,EO,AA,staff
20214,20214,2022-11-30,Departure,SQ378,2345,NaN,1,3,1,2,7
20215,20215,2022-11-30,Departure,SQ26,2355,NaN,1,3,1,2,7
20216,20216,2022-11-30,Departure,SQ324,2355,NaN,1,2,1,1,5
20217,20217,2022-11-30,Departure,SQ638,2355,NaN,1,3,1,1,6
20218,20218,2022-11-30,Arrival,SQ897,2355,NaN,1,1,1,1,4

In [226]:
dataStaff.dtypes

Flight Date    datetime64[ns]
Orientation            object
Flight                 object
ST                      int64
ET                     object
RLO                   float64
RSM                     int64
EO                      int64
AA                    float64
staff                 float64
dtype: object

In [315]:
dataBugagge.tail()

,Flight No,Flight Date,In-bound Time,Trip Number,ULD Number,Pickup Time,Dropoff Time
73726,TR493,2022-11-30,23:14,1.0,BT2163,NaT,NaT
73729,SQ185,2022-11-30,23:19,0.0,AKE28070SQ,NaT,2022-11-30 23:54:44.753
73734,SQ906,2022-11-30,23:27,1.0,BT1483,NaT,NaT
73737,TR617,2022-11-30,23:53,1.0,AKE83265SQ,2022-12-01 00:10:20.050,NaT
73739,SQ739,2022-11-30,00:11,1.0,BT1218,NaT,NaT

In [316]:
dataBugagge.dtypes

Flight No                object
Flight Date      datetime64[ns]
In-bound Time            object
Trip Number             float64
ULD Number               object
Pickup Time      datetime64[ns]
Dropoff Time     datetime64[ns]
dtype: object

In [317]:
dataBugagge['Flight Date']=pd.to_datetime(dataBugagge['Flight Date'], format='%Y-%m-%d', errors='coerce')

In [233]:
# ET datatype to HH:MM
dataStaff['ET']=pd.to_datetime(dataStaff['ET'], format='%H:%M').dt.strftime('%H:%M')
# dataBugagge In-bound Time is not null
dataBugagge=dataBugagge.dropna(subset=['In-bound Time'],inplace=True)
# dataBugagge[dataBugagge['In-bound Time']==]
# dataBugagge['In-bound Time']=pd.to_datetime(dataBugagge['In-bound Time'], format='%H:%M').dt.strftime('%H:%M')

TypeError: 'NoneType' object is not subscriptable

In [258]:
dataBugagge.dtypes

Flight No                object
Flight Date      datetime64[ns]
In-bound Time            object
Trip Number             float64
ULD Number               object
Pickup Time      datetime64[ns]
Dropoff Time     datetime64[ns]
dtype: object

In [340]:
dataStaff.dtypes

Unnamed: 0                int64
Flight Date      datetime64[ns]
Orientation              object
Flight No                object
ST                        int64
In-bound Time           float64
RLO                       int64
RSM                       int64
EO                        int64
AA                        int64
staff                     int64
dtype: object

In [341]:
# remove all the duplicates Flight, Flight Date:
dataStaff.drop_duplicates(subset=['Flight No','Flight Date'],keep='first',inplace=True)

In [342]:
dataStaff.shape

(10108, 11)

In [343]:
# remove all the duplicates Flight No, Flight Date:
dataBugagge.drop_duplicates(subset=['Flight No','Flight Date'],keep='first',inplace=True)

In [344]:
dataBugagge.shape

(7999, 7)

In [345]:
dataStaff.shape

(10108, 11)

In [338]:
dataStaff.drop_duplicates(subset=['Flight','Flight Date'],keep='first',inplace=True)

KeyError: Index(['Flight'], dtype='object')

In [346]:
# merge dataStaff and dataBugagge on Flight, Flight Date, In-bound Time
# rename Flight to Flight No, ET to In-bound Time
dataStaff.rename(columns={'Flight':'Flight No','ET':'In-bound Time'},inplace=True)
# dataStaffBugagge=pd.merge(dataStaff,dataBugagge,how='inner',on=['Flight','Flight Date','In-bound Time'])

In [348]:
dataBugagge['Flight Date']

0       2022-09-01
2       2022-09-01
12      2022-09-01
25      2022-09-01
29      2022-09-01
           ...
73726   2022-11-30
73729   2022-11-30
73734   2022-11-30
73737   2022-11-30
73739   2022-11-30
Name: Flight Date, Length: 7999, dtype: datetime64[ns]

In [347]:
dataStaff['Flight Date']

2       2022-09-01
4       2022-09-01
11      2022-09-01
22      2022-09-01
23      2022-09-01
           ...
20208   2022-11-30
20209   2022-11-30
20210   2022-11-30
20212   2022-11-30
20218   2022-11-30
Name: Flight Date, Length: 10108, dtype: datetime64[ns]

In [352]:
# intersect dataStaff and dataBugagge on Flight No on 2022-09-01:
dataBugagge['Flight No'].isin(dataStaff['Flight No']).loc[dataBugagge['Flight Date']=='2022-09-01'].sum()

68

In [355]:
dataStaffBugagge=pd.merge(dataStaff,dataBugagge,how='outer',on=['Flight No','Flight Date'])

In [356]:
dataStaffBugagge.head()

,Unnamed: 0,Flight Date,Orientation,Flight No,ST,In-bound Time_x,RLO,RSM,EO,AA,staff,In-bound Time_y,Trip Number,ULD Number,Pickup Time,Dropoff Time
0,2.0,2022-09-01,Arrival,SQ208,15.0,21.0,1.0,4.0,1.0,2.0,8.0,00:21,1.0,AKE89138SQ,2022-09-01 00:33:15.220,2022-09-01 00:37:16.930
1,4.0,2022-09-01,Arrival,SQ242,20.0,40.0,1.0,3.0,1.0,1.0,6.0,00:40,1.0,AKE80436SQ,2022-09-01 00:54:23.003,2022-09-01 00:55:44.893
2,11.0,2022-09-01,Arrival,SQ11,115.0,38.0,1.0,3.0,1.0,2.0,7.0,00:38,1.0,AKE70581SQ,NaT,NaT
3,22.0,2022-09-01,Arrival,TR25,355.0,355.0,1.0,3.0,1.0,1.0,6.0,03:55,1.0,AKE84300SQ,2022-09-01 04:17:01.517,2022-09-01 04:22:18.260
4,23.0,2022-09-01,Arrival,TR509,405.0,510.0,1.0,3.0,1.0,2.0,7.0,NaN,NaN,NaN,NaT,NaT

In [ ]:
# save to csv
dataStaffBugagge.to_csv('J:\\SATS\\dataStaffBugagge2.csv',index=False)

In [357]:
dataStaffBugagge.shape

(11805, 16)

In [358]:
dataStaff.shape

(10108, 11)

In [359]:
dataBugagge.shape

(7999, 7)

In [272]:
# save dataStaffBugagge to csv
dataStaffBugagge.to_csv('J:\\SATS\\dataStaffBugagge.csv',index=False)

In [327]:
dataStaffBugagge.head()

,Unnamed: 0,Flight Date,Orientation,Flight No,ST,In-bound Time_x,RLO,RSM,EO,AA,staff,In-bound Time_y,Trip Number,ULD Number,Pickup Time,Dropoff Time
0,2,2022-09-01,Arrival,SQ208,15,NaN,1,4,1,2,8,00:21,1.0,AKE89138SQ,2022-09-01 00:33:15.220,2022-09-01 00:37:16.930
1,4,2022-09-01,Arrival,SQ242,20,NaN,1,3,1,1,6,00:40,1.0,AKE80436SQ,2022-09-01 00:54:23.003,2022-09-01 00:55:44.893
2,11,2022-09-01,Arrival,SQ11,115,NaN,1,3,1,2,7,00:38,1.0,AKE70581SQ,NaT,NaT
3,22,2022-09-01,Arrival,TR25,355,NaN,1,3,1,1,6,03:55,1.0,AKE84300SQ,2022-09-01 04:17:01.517,2022-09-01 04:22:18.260
4,24,2022-09-01,Arrival,SQ623,440,NaN,1,3,1,2,7,04:19,1.0,AKE28089SQ,2022-09-01 04:28:10.723,NaT

# Some EDA

In [275]:
Bugagge=pd.read_excel('J:\\SATS\\Buggage.xlsx')
# dataBugagge=pd.read_excel('J:\\SATS\\Buggage.xlsx')

In [277]:
# total number of flights in one day
# remove all the duplicates Flight No, Flight Date:
Bugagge.drop_duplicates(subset=['Flight No','Flight Date'],keep='first',inplace=True)
# dataBugagge['Flight No'].count()

In [278]:
Bugagge.shape

(8010, 7)

In [296]:
# total flights every day showing the number of flights against each flight number:
Bugagge.groupby(['Flight Date','Flight No'])['Flight No'].count()
# show the number of flights against each flight number for 1-09-2022
Bugagge.groupby(['Flight Date','Flight No'])['Flight No'].count().loc['2022-09-01']




# Bugagge.groupby(['Flight Date','Flight No']).count()

# Bugagge['Flight No']

Flight No
SQ11      1
SQ121     1
SQ125     1
SQ153     1
SQ157     1
         ..
TR565     1
TR611     1
TR625     1
TR843     1
SQ208    1
Name: Flight No, Length: 81, dtype: int64

In [284]:
# distinct flightNumber on 2022-09-01:



Bugagge[Bugagge['Flight Date']=='2022-09-01']['Flight No']

0       SQ208
2      SQ208
12       SQ11
25      SQ242
29       TR25
        ...
683     SQ185
698     SQ906
705     TR467
710     SQ193
715     TR391
Name: Flight No, Length: 81, dtype: object