In [104]:
import pandas as pd
#  read file from the harddisk
#  omitting first row

df=pd.read_excel('E:\HKPF\deception_output_121_141.xlsx',header=None)

In [105]:
df.head()
# insert column with index
df.insert(0,'index',range(0,0+len(df)))

In [106]:
#  rename the index column
df.rename(columns={'index':'Newindex'},inplace=True)

In [107]:
df.rename(columns={0:'col0'},inplace=True)

In [108]:
df.rename(columns={1:'col1'},inplace=True)

In [109]:
df.head()

   Newindex                col0 col1
0         0  -DOCSTART- -X- O O  NaN
1         1                  At    O
2         2            A/D/T/L,    O
3         3                 VTM    O
4         4                 saw    O

In [110]:
# find in column 0 BEA,BOC,Citibank ,Mainland ICBC,BOC,HSB,Citibank,ICBC,HK bank, ICBC,HSB, HSBC,SCB,ZA bank,Bank
# if df[0].str.contains('BEA' or 'BOC' or'Citibank'|'Mainland ICBC'|'BOC'|'HSB'|'Citibank'|'ICBC'|'HK bank'|'ICBC'|'HSB'|'HSBC'or'SCB'|'ZA bank'|'Bank').any():
    # print current index of the row
#  return the corresponding Newindex if 0 column contains SCB
# index_numbers = df.index[df['col0'].str.contains('SCB')].tolist()

print(df[df['col0'].str.contains('SCB')].index.tolist())
import pandas as pd
# import numpy as np

# Create a sample DataFrame with NaN values
# df = pd.DataFrame({
#     'col1': ['SCB-123', 'ABC-456', np.nan, 'SCB-789'],
#     'col2': [10, 20, 30, 40],
#     'col3': ['A', 'B', 'C', 'D']
# })

# Get the index number of rows where col1 contains 'SCB' and is not NaN
index_numbers = df.index[(df['col0'].str.contains('SCB')) & (~df['col1'].isna())].tolist()

print(index_numbers)  # Output: [0, 3]


# if df[0].str.contains('SCB'):
#     print(df.Newindex)

ValueError: Cannot mask with non-boolean array containing NA / NaN values

In [111]:
# Create a boolean mask indicating the locations of NaN values in col1
nan_mask = df['col1'].isna()

# Select only the non-NaN values in col1 and check if they contain 'SCB'
scb_mask = df.loc[~nan_mask, 'col0'].str.contains('SCB')

# Get the index number of rows where col1 contains 'SCB' and is not NaN
index_numbers = df.index[nan_mask | scb_mask].tolist()

print(index_numbers)

[0, 56, 154, 216, 282, 372, 445, 446]

In [112]:
nan_mask = df['col0'].isna()

# Select only the non-NaN values in col0 and check if they contain 'SCB'
scb_mask = df.loc[~nan_mask, 'col0'].str.contains('SCB')

# scb_mask = df['col0'].str.contains('SCB')

# # Get the index number of rows where col0 contains 'SCB'
# index_numbers = df.index[scb_mask].tolist()

# print(index_numbers)  # Output: [0, 2]

In [113]:
print(scb_mask)

0      False
1      False
2      False
3      False
4      False
       ...
442    False
443    False
444    False
445    False
446    False
Name: col0, Length: 447, dtype: object

In [114]:
nan_mask = df['col0'].isna()

# Select only the non-NaN values in col0 and check if they contain 'SCB'
scb_mask = df.loc[~nan_mask, 'col0'].str.contains('SCB')

# Get the index number of rows where col0 contains 'SCB' and is not NaN
index_numbers = df.index[nan_mask | scb_mask].tolist()

print(index_numbers)  # Output: [0, 3]

[]

In [115]:
#  find summary of the column 0
#  find NAN IN  col0
#  find NAN IN  col1
#  find NAN IN  Newindex
df['col1'].isnull().sum()
# df['col0'].value_counts()

8

In [116]:
# find index of the row with NAN in col1
df[df['col1'].isnull()].index.tolist()

[0, 56, 154, 216, 282, 372, 445, 446]

In [117]:
#  print 81 row
df.iloc[81]

Newindex          81
col0          gaming
col1        I-METHOD
Name: 81, dtype: object

# Bank Related

In [118]:
# Create a regular expression that matches any of the desired substrings
regex = r'SCB|BEA|BOC|Citibank|Mainland ICBC|HSB|ICBC|HK bank|ZA bank|Bank'

# Create a boolean mask indicating the locations of matching values in col0
match_mask = df['col0'].str.contains(regex, na=False)

# Get the index number of rows where col0 contains any of the desired substrings
index_numbers = df.index[match_mask].tolist()

print(index_numbers)

[220, 242, 373, 404]

In [119]:
# print values in col1 for the rows with index numbers in index_numbers
print(df.loc[index_numbers, 'col0'])

220                                                  HSB
242                                                  HSB
373    4.\tO\nTelephone\tO\nDeception\tO\n(Guess\tO\n...
404                                                  HSB
Name: col0, dtype: object

<!-- read data for bulgary cases and extract the

In [7]:
import pandas as pd
#  read file from the harddisk
#  omitting first row

df=pd.read_excel(r'E:\Neural LAB\HKPF\burglary_output_41_60.xlsx')

In [8]:
df.head()

  -DOCSTART- -X- O O Unnamed: 1
0           Involved          O
1          locations          O
2                are          O
3           situated          O
4                 in          O

In [9]:
# rename the column
df.rename(columns={'Unnamed: 1':'col1'},inplace=True)
df.rename(columns ={'-DOCSTART- -X- O O':'col0'},inplace=True)

In [10]:
regex = r'Prize|prized|Prized|open|Open|force|Scaffolding|scaffolding|enter|entered|gate|unchallanged|door|via|through|by'

# Create a boolean mask indicating the locations of matching values in col0
match_mask = df['col0'].str.contains(regex, na=False)

# Get the index number of rows where col0 contains any of the desired substrings
index_numbers = df.index[match_mask].tolist()

print(index_numbers)

[36, 78, 109, 110, 146, 177, 223, 224, 242, 249, 262, 292, 304, 305, 315, 344, 427, 435, 445, 472, 474, 477, 479, 480, 544, 579, 647, 650, 694, 724, 764, 785, 788, 799, 801, 897, 900, 903, 965, 968, 971, 995, 998, 999, 1011, 1013, 1097, 1101, 1104, 1179, 1193, 1194, 1268, 1271, 1272, 1281, 1290, 1320, 1377, 1482, 1526, 1541, 1546, 1563, 1566, 1568, 1574, 1578, 1597, 1666, 1730, 1743, 1747, 1749, 1755, 1784, 1839, 1866, 1896, 1922, 1927, 1940, 1941, 1942, 1988, 2029, 2245, 2249, 2250, 2321, 2341, 2468, 2647, 2788, 2838, 2868, 2871, 2876, 2917, 2983, 3015, 3043, 3154, 3165, 3168, 3298, 3300, 3320, 3327, 3356, 3373, 3374, 3511, 3522, 3527, 3594, 3674, 3675, 3700, 3744, 3750, 3751, 3753, 3755, 3875, 3910, 3946, 3984, 3985, 4060, 4068, 4086, 4088, 4223, 4228, 4241, 4290, 4304, 4307, 4347, 4358, 4433, 4493, 4570, 4571]

In [11]:
#  add 2 to the index number
index_numbers = [x + 2 for x in index_numbers]

In [12]:
index_numbers

[38,
 80,
 111,
 112,
 148,
 179,
 225,
 226,
 244,
 251,
 264,
 294,
 306,
 307,
 317,
 346,
 429,
 437,
 447,
 474,
 476,
 479,
 481,
 482,
 546,
 581,
 649,
 652,
 696,
 726,
 766,
 787,
 790,
 801,
 803,
 899,
 902,
 905,
 967,
 970,
 973,
 997,
 1000,
 1001,
 1013,
 1015,
 1099,
 1103,
 1106,
 1181,
 1195,
 1196,
 1270,
 1273,
 1274,
 1283,
 1292,
 1322,
 1379,
 1484,
 1528,
 1543,
 1548,
 1565,
 1568,
 1570,
 1576,
 1580,
 1599,
 1668,
 1732,
 1745,
 1749,
 1751,
 1757,
 1786,
 1841,
 1868,
 1898,
 1924,
 1929,
 1942,
 1943,
 1944,
 1990,
 2031,
 2247,
 2251,
 2252,
 2323,
 2343,
 2470,
 2649,
 2790,
 2840,
 2870,
 2873,
 2878,
 2919,
 2985,
 3017,
 3045,
 3156,
 3167,
 3170,
 3300,
 3302,
 3322,
 3329,
 3358,
 3375,
 3376,
 3513,
 3524,
 3529,
 3596,
 3676,
 3677,
 3702,
 3746,
 3752,
 3753,
 3755,
 3757,
 3877,
 3912,
 3948,
 3986,
 3987,
 4062,
 4070,
 4088,
 4090,
 4225,
 4230,
 4243,
 4292,
 4306,
 4309,
 4349,
 4360,
 4435,
 4495,
 4572,
 4573]

In [120]:
#  check all the rows with Romance,  Dating, Naked Chat, Telephone 
# Create a regular expression that matches any of the desired substrings
regex2 = r'Romance|Dating|Naked|Telephone|Compensated'

# Create a boolean mask indicating the locations of matching values in col0
match_mask = df['col0'].str.contains(regex2, na=False)

# Get the index number of rows where col0 contains any of the desired substrings
index_numbers = df.index[match_mask].tolist()

print(index_numbers)

[158, 159, 373, 446]

# B-BEHAVIOUR

In [121]:
#  check all the rows with Romance,  Dating, Naked Chat, Telephone 
# Create a regular expression that matches any of the desired substrings
regex3 = r'Purported|purported|Claim|claim|Claimed|claimed|Claiming|claiming|Purporting|purporting|impersonated|Impersonated|Impersonating|impersonating|Impersonation|impersonation|Impersonator|impersonator|Impersonators|impersonators|Impersonate|impersonate|Impersonates|impersonates|Impersonating|impersonating|Impersonation|impersonation|Impersonator|impersonator|Impersonators|impersonators|Impersonate|impersonate|Impersonates|impersonates|Impersonating|impersonating|Impersonation|impersonation|Impersonator|impersonator|Impersonators|impersonators|Impersonate|impersonate|Impersonates|impersonates|Impersonating|impersonating|Impersonation|impersonation|Impersonator|impersonator|Impersonators|impersonators|Impersonate|impersonate|Impersonates|impersonates|Impersonating|impersonating|Impersonation|impersonation|Impersonator|impersonator|Impersonators|impersonators|Impersonate|impersonate|Impersonates|impersonates|Impersonating|impersonating|Impersonation|impersonation|Impersonator|impersonator|Impersonators|impersonators|Impersonate|impersonate|Impersonates|impersonates|Impersonating|impersonating|Impersonation|impersonation|Impersonator|impersonator|Impersonators|impersonators|Impersonate|impersonate|Impersonates|impersonates|Impersonating|impersonating|Impersonation|impersonation|Impersonator|impersonator|Impersonators|impersonators|Impersonate|impersonate|Impersonates|impersonates|Impersonating|impersonating|Impersonation|impersonation|Impersonator|impersonator|Impersonators|impersonators|Impersonate|impersonate|Impersonates|impersonates|Impersonating|impersonating|Impersonation|impersonation|Impersonator|impersonator|Impersonators|impersonators|Impersonate|impersonate|Impersonates|impersonates|Impersonating|impersonating|Impersonation|imperson'

# Create a boolean mask indicating the locations of matching values in col0
match_mask = df['col0'].str.contains(regex3, na=False)

# Get the index number of rows where col0 contains any of the desired substrings
index_numbers = df.index[match_mask].tolist()

print(index_numbers)

[86, 109, 155, 373, 446]