In [27]:
import pandas as pd
#  read file from the harddisk
#  omitting first row

df=pd.read_excel('E:\HKPF\deception_output_3_20UP.xlsx',header=None)

In [28]:
df.head()
# insert column with index
df.insert(0,'index',range(0,0+len(df)))

In [30]:
df.head()
#  print column names
df.columns

Index(['index', 0, 1], dtype='object')

In [19]:
#  rename the index column
df.rename(columns={'index':'Newindex'},inplace=True)

In [31]:
df.rename(columns={0:'col0'},inplace=True)

In [33]:
df.rename(columns={1:'col1'},inplace=True)

In [34]:
df.head()

   index                col0 col1
0      0  -DOCSTART- -X- O O  NaN
1      1               Prior    O
2      2                  to    O
3      3                 the    O
4      4           incident,    O

In [43]:
# find in column 0 BEA,BOC,Citibank ,Mainland ICBC,BOC,HSB,Citibank,ICBC,HK bank, ICBC,HSB, HSBC,SCB,ZA bank,Bank
# if df[0].str.contains('BEA' or 'BOC' or'Citibank'|'Mainland ICBC'|'BOC'|'HSB'|'Citibank'|'ICBC'|'HK bank'|'ICBC'|'HSB'|'HSBC'or'SCB'|'ZA bank'|'Bank').any():
    # print current index of the row
#  return the corresponding Newindex if 0 column contains SCB
# index_numbers = df.index[df['col0'].str.contains('SCB')].tolist()

print(df[df['col0'].str.contains('SCB')].index.tolist())
import pandas as pd
# import numpy as np

# Create a sample DataFrame with NaN values
# df = pd.DataFrame({
#     'col1': ['SCB-123', 'ABC-456', np.nan, 'SCB-789'],
#     'col2': [10, 20, 30, 40],
#     'col3': ['A', 'B', 'C', 'D']
# })

# Get the index number of rows where col1 contains 'SCB' and is not NaN
index_numbers = df.index[(df['col0'].str.contains('SCB')) & (~df['col1'].isna())].tolist()

print(index_numbers)  # Output: [0, 3]


# if df[0].str.contains('SCB'):
#     print(df.Newindex)

ValueError: Cannot mask with non-boolean array containing NA / NaN values

In [44]:
# Create a boolean mask indicating the locations of NaN values in col1
nan_mask = df['col1'].isna()

# Select only the non-NaN values in col1 and check if they contain 'SCB'
scb_mask = df.loc[~nan_mask, 'col0'].str.contains('SCB')

# Get the index number of rows where col1 contains 'SCB' and is not NaN
index_numbers = df.index[nan_mask | scb_mask].tolist()

print(index_numbers)

[0, 81, 150, 259, 342, 442, 497, 560, 665, 771, 844, 918, 1013, 1081, 1134, 1191, 1202, 1243, 1273, 1349, 1421]

In [47]:
nan_mask = df['col0'].isna()

# Select only the non-NaN values in col0 and check if they contain 'SCB'
scb_mask = df.loc[~nan_mask, 'col0'].str.contains('SCB')

# scb_mask = df['col0'].str.contains('SCB')

# # Get the index number of rows where col0 contains 'SCB'
# index_numbers = df.index[scb_mask].tolist()

# print(index_numbers)  # Output: [0, 2]

In [48]:
print(scb_mask)

0       False
1       False
2       False
3       False
4       False
        ...
1441    False
1442    False
1443    False
1444    False
1445    False
Name: col0, Length: 1446, dtype: object

In [49]:
nan_mask = df['col0'].isna()

# Select only the non-NaN values in col0 and check if they contain 'SCB'
scb_mask = df.loc[~nan_mask, 'col0'].str.contains('SCB')

# Get the index number of rows where col0 contains 'SCB' and is not NaN
index_numbers = df.index[nan_mask | scb_mask].tolist()

print(index_numbers)  # Output: [0, 3]

[1421]

In [39]:
#  find summary of the column 0
#  find NAN IN  col0
#  find NAN IN  col1
#  find NAN IN  Newindex
df['col1'].isnull().sum()
# df['col0'].value_counts()

20

In [40]:
# find index of the row with NAN in col1
df[df['col1'].isnull()].index.tolist()

[0,
 81,
 150,
 259,
 342,
 442,
 497,
 560,
 665,
 771,
 844,
 918,
 1013,
 1081,
 1134,
 1191,
 1202,
 1243,
 1273,
 1349]

In [41]:
#  print 81 row
df.iloc[81]

index                    81
col0     -DOCSTART- -X- O O
col1                    NaN
Name: 81, dtype: object

In [50]:
# Create a regular expression that matches any of the desired substrings
regex = r'SCB|BEA|BOC|Citibank|Mainland ICBC|HSB|ICBC|HK bank|ZA bank|Bank'

# Create a boolean mask indicating the locations of matching values in col0
match_mask = df['col0'].str.contains(regex, na=False)

# Get the index number of rows where col0 contains any of the desired substrings
index_numbers = df.index[match_mask].tolist()

print(index_numbers)

[504, 885, 1278, 1369, 1421]

In [52]:
# print values in col1 for the rows with index numbers in index_numbers
print(df.loc[index_numbers, 'col0'])

504      BOC
885      BOC
1278    Bank
1369     BOC
1421     SCB
Name: col0, dtype: object