# Import necessary Libraries and dataset

In [1]:
#  read data from excel file
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

data= pd.read_excel('J:\\SATS\\20230126 SATS Sep-Oct data with success-bays-actual_time.xlsx', sheet_name='Sheet3',parse_dates=['Actual_Connection_Time'])

In [2]:
data.columns

Index(['ArrivalFlight', 'ORIGIN', 'Arrival_Gate', 'SIBTDateTimeOffset',
       'ArrivalFlight & Date', 'ArrFlt_SIBT', 'SIBT', 'Day in Week',
       'EIBTDateTimeOffset', 'EIBT', 'AIBTDateTimeOffset', 'AIBT',
       'DepartureFlight', 'Dep_Gate', 'DepartureFlight & Date', 'DESTINATION',
       'SOBTDateTimeOffset', 'SOBT', 'EOBTDateTimeOffset',
       'Flight_Departure_Time', 'EOBT', 'AOBTDateTimeOffset', 'AOBT',
       'Actual_Connection_Time', 'ID', 'AdultFirstBookedCount',
       'ChildFirstBookedCount', 'InfantFirstBookedCount',
       'AdultBusinessBookedCount', 'ChildBusinessBookedCount',
       'InfantBusinessBookedCount', 'AdultPremiumBookedCount',
       'ChildPremiumBookedCount', 'InfantPremiumBookedCount',
       'AdultEconomyBookedCount', 'ChildEconomyBookedCount',
       'InfantEconomyBookedCount', 'EOBT2', 'ConnectTime (SOBT-SIBT)',
       'ConnectTime (EOBT-EIBT)', 'Duration', 'Protection_Cost',
       'AdultFirstAcceptedCount', 'ChildFirstAcceptedCount',
       'InfantFirstAcceptedCount', 'AdultBusinessAcceptedCount',
       'ChildBusinessAcceptedCount', 'InfantBusinessAcceptedCount',
       'AdultPremiumAcceptedCount', 'ChildPremiumAcceptedCount',
       'InfantPremiumAcceptedCount', 'AdultEconomyAcceptedCount',
       'ChildEconomyAcceptedCount', 'InfantEconomyAcceptedCount',
       'Accepted_Total', 'FirstClassBagCount', 'BusinessClassBagCount',
       'PremiumClassBagCount', 'EconomyClassBagCount', 'Total_Bag_Count',
       'FirstClassBagsWeight', 'BusinessClassBagsWeight',
       'PremiumClassBagsWeight', 'SQPassengerCountInfo_ID', 'Missed_AF',
       'Missed_CF', 'Missed_IF', 'Missed_AJ', 'Missed_CJ', 'Missed_IJ',
       'Missed_APY', 'Missed_CPY', 'Missed_IPY', 'Missed_AY', 'Missed_CY',
       'Missed_IY', 'Missed_Total', 'Missed_Y/N', '% Success'],
      dtype='object')

# Take necessary columns

In [4]:
datatemp=data[['ArrivalFlight','ORIGIN','SIBT','DESTINATION','Arrival_Gate','Dep_Gate','Actual_Connection_Time','% Success']]

In [6]:
datatemp.head()

,ArrivalFlight,ORIGIN,SIBT,DESTINATION,Arrival_Gate,Dep_Gate,Actual_Connection_Time,% Success
0,SQ208,Melbourne,2022-09-30 16:15:00,London,B2,A2,2023-01-31 00:34:00,1.0
1,SQ208,Melbourne,2022-09-30 16:15:00,New Dehli,B2,A2,2023-01-31 00:34:00,1.0
2,SQ208,Melbourne,2022-09-30 16:15:00,Manila,B2,A2,2023-01-31 00:34:00,0.0
3,SQ208,Melbourne,2022-09-30 16:15:00,Ahmedabad,B2,A2,2023-01-31 00:34:00,1.0
4,SQ208,Melbourne,2022-09-30 16:15:00,Seoul,B2,A2,2023-01-31 00:34:00,1.0

In [7]:
#  Take all data where Actual_Connection_Time is greater than 60 minutes
datatemp.dtypes

ArrivalFlight                     object
ORIGIN                            object
SIBT                      datetime64[ns]
DESTINATION                       object
Arrival_Gate                      object
Dep_Gate                          object
Actual_Connection_Time    datetime64[ns]
% Success                        float64
dtype: object

In [7]:
#  convert Actual_Connection_Time to datetime
# datatemp.tail()
# take minutes from Actual_Connection_Time
# convert actual time to seconds

# datatemp['Actual_Connection_Time1']=datatemp['Actual_Connection_Time'].dt.minute*60+datatemp['Actual_Connection_Time'].dt.second


# datatemp['Actual_Connection_Time1']=pd.to_datetime(datatemp['Actual_Connection_Time'], format='%Y-%m-%d %H:%M:%S')

C:\Users\pc\AppData\Local\Temp\ipykernel_8048\601241441.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  datatemp['Actual_Connection_Time1']=datatemp['Actual_Connection_Time'].dt.minute*60+datatemp['Actual_Connection_Time'].dt.second

In [8]:
# check number of rows
datatemp.shape

(105700, 8)

In [ ]:
# flightBay['Same Bay'] = (flightBay['StandPosition'].str[0].isin(['A','B']) & flightBay['StandPosition2'].str[0].isin(['A','B'])) | (flightBay['StandPosition'].str[0].isin(['C','D']) & flightBay['StandPosition2'].str[0].isin(['C','D'])) |(flightBay['StandPosition'].str[0].isin(['E','F']) & flightBay['StandPosition2'].str[0].isin(['E','F']))

In [30]:
# save data to excel file
datatemp.to_excel('J:\\SATS\\sixtyminutesSAS.xlsx', sheet_name='Sheet1')

In [9]:
datatemp.groupby(['ArrivalFlight','Arrival_Gate','Dep_Gate','% Success']).count()

                                               ORIGIN  SIBT  DESTINATION  \
ArrivalFlight Arrival_Gate Dep_Gate % Success
3K202         C16          B5       1.0             1     1            1
              C17R         B5       1.0             1     1            1
              D42L         B3       1.0             1     1            1
3K204         D40L         A2       0.0             1     1            1
3K206         C11          A13      1.0             1     1            1
...                                               ...   ...          ...
VN661         G5           B2       0.0             2     2            2
                           F40      1.0             1     1            1
                           F58      1.0             1     1            1
                           F60      1.0             1     1            1
YP631         B2           C19      0.0             1     1            1

                                               Actual_Connection_Time
ArrivalFlight Arrival_Gate Dep_Gate % Success
3K202         C16          B5       1.0                             1
              C17R         B5       1.0                             1
              D42L         B3       1.0                             1
3K204         D40L         A2       0.0                             1
3K206         C11          A13      1.0                             1
...                                                               ...
VN661         G5           B2       0.0                             2
                           F40      1.0                             1
                           F58      1.0                             1
                           F60      1.0                             1
YP631         B2           C19      0.0                             1

[27105 rows x 4 columns]

In [10]:
#  group by Flight, Arrival_Gate, Dep_Gate, against success% values

datatemp2=datatemp.groupby(['ArrivalFlight','Arrival_Gate','Dep_Gate','% Success'])['SIBT'].count()

In [11]:
datatemp2.head()

ArrivalFlight  Arrival_Gate  Dep_Gate  % Success
3K202          C16           B5        1.0          1
               C17R          B5        1.0          1
               D42L          B3        1.0          1
3K204          D40L          A2        0.0          1
3K206          C11           A13       1.0          1
Name: SIBT, dtype: int64

In [14]:
datatemp1=datatemp.groupby(['Arrival_Gate','Dep_Gate','% Success']).count()

In [15]:
datatemp1.nunique()

ArrivalFlight             124
ORIGIN                    124
SIBT                      124
DESTINATION               124
Actual_Connection_Time    124
dtype: int64

In [41]:
datatemp3.head()

Arrival_Gate  Dep_Gate  % Success
305           F42       0.0000        2
A1            A12       0.8000        2
                        0.9375        2
                        1.0000       40
              A14       0.0000        1
Name: SIBT, dtype: int64

In [16]:
datatemp1.groupby(['Arrival_Gate','Dep_Gate','% Success']).size()

Arrival_Gate  Dep_Gate  % Success
301           A1        0.0          1
                        1.0          1
              A11       0.0          1
                        1.0          1
              A12       0.0          1
                                    ..
G5            B4        1.0          1
              F40       1.0          1
              F58       1.0          1
              F60       1.0          1
G8            A17       0.0          1
Length: 18184, dtype: int64

In [43]:
# #  save datatemp3 to excel file
# datatemp3.to_excel('J:\\SATS\\sixtyminutesSAS1.xlsx', sheet_name='Sheet2')

In [39]:
# #  save datatemp1 to excel file:
# datatemp2.to_excel('J:\\SATS\\sixtyminutesgroupSAS.xlsx', sheet_name='Sheet1')

# sort the rows where connection time is less than 60 minutes

In [17]:
datatemp['Actual_Connection_Time_new']=datatemp['Actual_Connection_Time'].dt.hour*(60*60)+datatemp['Actual_Connection_Time'].dt.minute*60+datatemp['Actual_Connection_Time'].dt.second
datatemp.head()

C:\Users\pc\AppData\Local\Temp\ipykernel_532\3285314572.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  datatemp['Actual_Connection_Time_new']=datatemp['Actual_Connection_Time'].dt.hour*(60*60)+datatemp['Actual_Connection_Time'].dt.minute*60+datatemp['Actual_Connection_Time'].dt.second

,ArrivalFlight,ORIGIN,SIBT,DESTINATION,Arrival_Gate,Dep_Gate,Actual_Connection_Time,% Success,Actual_Connection_Time_new
0,SQ208,Melbourne,2022-09-30 16:15:00,London,B2,A2,2023-01-31 00:34:00,1.0,2040
1,SQ208,Melbourne,2022-09-30 16:15:00,New Dehli,B2,A2,2023-01-31 00:34:00,1.0,2040
2,SQ208,Melbourne,2022-09-30 16:15:00,Manila,B2,A2,2023-01-31 00:34:00,0.0,2040
3,SQ208,Melbourne,2022-09-30 16:15:00,Ahmedabad,B2,A2,2023-01-31 00:34:00,1.0,2040
4,SQ208,Melbourne,2022-09-30 16:15:00,Seoul,B2,A2,2023-01-31 00:34:00,1.0,2040

datatemp['Actual_Connection_Time_new']=datatemp['Actual_Connection_Time'].dt.hour*(60*60)+datatemp['Actual_Connection_Time'].dt.minute*60+datatemp['AActual_Connection_Time'].dt.second
datatemp.head()

In [18]:
datatemp['Actual_Connection_Time_new'].shape

(105700,)

In [19]:
# all data where Actual_Connection_Time is greater than 3600 seconds
datatemp1=datatemp[datatemp['Actual_Connection_Time_new']<=3600]

In [20]:
datatemp1.shape

(4343, 9)

In [21]:
#  all rows where Actual_Connection_Time1 is greater than 60 
datatemp1=datatemp[datatemp['Actual_Connection_Time_new']<3600]

In [22]:
datatemp1.shape

(4103, 9)

In [ ]:
# save datatemp1
datatemp1.to_excel('J:\\SATS\\data.xlsx')

In [23]:
datatemp1.head()

,ArrivalFlight,ORIGIN,SIBT,DESTINATION,Arrival_Gate,Dep_Gate,Actual_Connection_Time,% Success,Actual_Connection_Time_new
0,SQ208,Melbourne,2022-09-30 16:15:00,London,B2,A2,2023-01-31 00:34:00,1.0,2040
1,SQ208,Melbourne,2022-09-30 16:15:00,New Dehli,B2,A2,2023-01-31 00:34:00,1.0,2040
2,SQ208,Melbourne,2022-09-30 16:15:00,Manila,B2,A2,2023-01-31 00:34:00,0.0,2040
3,SQ208,Melbourne,2022-09-30 16:15:00,Ahmedabad,B2,A2,2023-01-31 00:34:00,1.0,2040
4,SQ208,Melbourne,2022-09-30 16:15:00,Seoul,B2,A2,2023-01-31 00:34:00,1.0,2040

In [24]:
datatemp1.dtypes

ArrivalFlight                         object
ORIGIN                                object
SIBT                          datetime64[ns]
DESTINATION                           object
Arrival_Gate                          object
Dep_Gate                              object
Actual_Connection_Time        datetime64[ns]
% Success                            float64
Actual_Connection_Time_new             int64
dtype: object

In [25]:
datatemp1.head()

,ArrivalFlight,ORIGIN,SIBT,DESTINATION,Arrival_Gate,Dep_Gate,Actual_Connection_Time,% Success,Actual_Connection_Time_new
0,SQ208,Melbourne,2022-09-30 16:15:00,London,B2,A2,2023-01-31 00:34:00,1.0,2040
1,SQ208,Melbourne,2022-09-30 16:15:00,New Dehli,B2,A2,2023-01-31 00:34:00,1.0,2040
2,SQ208,Melbourne,2022-09-30 16:15:00,Manila,B2,A2,2023-01-31 00:34:00,0.0,2040
3,SQ208,Melbourne,2022-09-30 16:15:00,Ahmedabad,B2,A2,2023-01-31 00:34:00,1.0,2040
4,SQ208,Melbourne,2022-09-30 16:15:00,Seoul,B2,A2,2023-01-31 00:34:00,1.0,2040

In [75]:
#  save file to csv
datatemp1.to_csv('J:\\SATS\\sixtyminutesSAS1.csv')

In [26]:
datatemp1.head()

,ArrivalFlight,ORIGIN,SIBT,DESTINATION,Arrival_Gate,Dep_Gate,Actual_Connection_Time,% Success,Actual_Connection_Time_new
0,SQ208,Melbourne,2022-09-30 16:15:00,London,B2,A2,2023-01-31 00:34:00,1.0,2040
1,SQ208,Melbourne,2022-09-30 16:15:00,New Dehli,B2,A2,2023-01-31 00:34:00,1.0,2040
2,SQ208,Melbourne,2022-09-30 16:15:00,Manila,B2,A2,2023-01-31 00:34:00,0.0,2040
3,SQ208,Melbourne,2022-09-30 16:15:00,Ahmedabad,B2,A2,2023-01-31 00:34:00,1.0,2040
4,SQ208,Melbourne,2022-09-30 16:15:00,Seoul,B2,A2,2023-01-31 00:34:00,1.0,2040

In [27]:
# read csv fie
datatemp4=pd.read_csv('J:\\SATS\\sixtyminutesSAS1.csv')

In [28]:
datatemp4.head()

  Arrival_Gate Dep_Gate  % Success  SIBT
0          305      F42     0.0000     2
1           A1      A12     0.8000     2
2           A1      A12     0.9375     2
3           A1      A12     1.0000    40
4           A1      A14     0.0000     1

# Mark all data with same or different Bay

In [29]:
datatemp4['Same Bay'] = (datatemp4['Arrival_Gate'].str[0].isin(['A','B']) & datatemp4['Dep_Gate'].str[0].isin(['A','B'])) | (datatemp4['Arrival_Gate'].str[0].isin(['C','D']) & datatemp4['Dep_Gate'].str[0].isin(['C','D'])) |(datatemp4['Arrival_Gate'].str[0].isin(['E','F']) & datatemp4['Dep_Gate'].str[0].isin(['E','F']))

In [30]:
datatemp4.head()

  Arrival_Gate Dep_Gate  % Success  SIBT  Same Bay
0          305      F42     0.0000     2     False
1           A1      A12     0.8000     2      True
2           A1      A12     0.9375     2      True
3           A1      A12     1.0000    40      True
4           A1      A14     0.0000     1      True

In [81]:
#  save file to csv
datatemp4.to_csv('J:\\SATS\\sixtyminutesSASwithBay.csv')

In [ ]:
datatemp4['Multi']=datatemp4['% Success']*datatemp4['SIBT']

In [ ]:
weighted_average = (datatemp4.groupby(['Arrival_Gate','Dep_Gate'])['Multi'].sum() ) / datatemp4.groupby(['Arrival_Gate','Dep_Gate'])['SIBT'].sum()

In [ ]:
# save to csv
weighted_average.to_csv('J:\\SATS\\weighted_average.csv')

In [102]:
#  read csv file
datatemp4=pd.read_csv('J:\\SATS\\weighted_average.csv')

In [103]:
datatemp4.head()

  Arrival_Gate Dep_Gate         0
0          305      F42  0.000000
1           A1      A12  0.988068
2           A1      A14  0.829545
3           A1      A17  1.000000
4           A1       B1  1.000000

In [ ]:
# rename column
datatemp4.rename(columns={'0':'Weighted_Average'}, inplace=True)

In [31]:

datatemp4['Terminal'] = (datatemp4['Arrival_Gate'].str[0].isin(['A','B']) & datatemp4['Dep_Gate'].str[0].isin(['A','B'])) | (datatemp4['Arrival_Gate'].str[0].isin(['C','D']) & datatemp4['Dep_Gate'].str[0].isin(['C','D'])) |(datatemp4['Arrival_Gate'].str[0].isin(['E','F']) & datatemp4['Dep_Gate'].str[0].isin(['E','F']))

In [32]:
datatemp4.head()

  Arrival_Gate Dep_Gate  % Success  SIBT  Same Bay  Terminal
0          305      F42     0.0000     2     False     False
1           A1      A12     0.8000     2      True      True
2           A1      A12     0.9375     2      True      True
3           A1      A12     1.0000    40      True      True
4           A1      A14     0.0000     1      True      True

In [52]:
weighted_average.head()

Arrival_Gate  Dep_Gate
305           F42         0.000000
A1            A12         0.988068
              A14         0.829545
              A17         1.000000
              B1          1.000000
dtype: float64

In [ ]:
# save file to csv
datatemp4.to_csv('J:\\SATS\\weighted_averagenew.csv')

In [94]:
weighted_average = (datatemp5.groupby(['Arrival_Gate','Dep_Gate'])['Multi'].sum() ) / datatemp5.groupby(['Arrival_Gate','Dep_Gate'])['SIBT'].sum()

In [55]:
weighted_average.head()

Arrival_Gate  Dep_Gate
305           F42         0.000000
A1            A12         0.988068
              A14         0.829545
              A17         1.000000
              B1          1.000000
dtype: float64

In [56]:
# save file to csv
weighted_average.to_csv('J:\\SATS\\weighted_average.csv')

PermissionError: [Errno 13] Permission denied: 'J:\\SATS\\weighted_average.csv'

In [57]:
#  read csv file
weighted_average=pd.read_csv('J:\\SATS\\weighted_average.csv')

In [ ]:
# weighted average of success rate and SIBT for Pair:
datatemp5.groupby(['Arrival_Gate','Dep_Gate',])['% Success','SIBT'].

In [41]:
import pandas as pd
dataBay= pd.read_csv('J:\\SATS\\sixtyminutesSASwithBay.csv')

In [42]:
dataBay.head()

   Unnamed: 0 Arrival_Gate Dep_Gate  % Success  SIBT  Same Bay     Pair
0           0          305      F42     0.0000     2     False  305-F42
1           1           A1      A12     0.8000     2      True   A1-A12
2           2           A1      A12     0.9375     2      True   A1-A12
3           3           A1      A12     1.0000    40      True   A1-A12
4           4           A1      A14     0.0000     1      True   A1-A14

In [43]:
dataCount=dataBay.groupby(['Pair'])['SIBT'].sum()

In [44]:
dataCount.head()

Pair
305-F42     2
A1-A12     44
A1-A14     11
A1-A17      5
A1-B1       5
Name: SIBT, dtype: int64

In [53]:
datanew=pd.read_csv('J:\\SATS\\weighted_averagenew.csv')

In [54]:
datanew.head()

   Unnamed: 0 Arrival_Gate Dep_Gate  Weighted_Average  Terminal     Pair
0           0          305      F42          0.000000     False  305-F42
1           1           A1      A12          0.988068      True   A1-A12
2           2           A1      A14          0.829545      True   A1-A14
3           3           A1      A17          1.000000      True   A1-A17
4           4           A1       B1          1.000000      True    A1-B1

In [47]:
datanew=datanew.merge(dataCount, on='Pair')

In [48]:
# save file to csv
datanew.to_csv('J:\\SATS\\SASweightedAvgFreq.csv')

In [49]:
datanew.head()

   Unnamed: 0 Arrival_Gate Dep_Gate  Weighted_Average  Terminal     Pair  SIBT
0           0          305      F42          0.000000     False  305-F42     2
1           1           A1      A12          0.988068      True   A1-A12    44
2           2           A1      A14          0.829545      True   A1-A14    11
3           3           A1      A17          1.000000      True   A1-A17     5
4           4           A1       B1          1.000000      True    A1-B1     5