In [1]:
#  read excel file:
import pandas as pd
file1=pd.read_excel(r'E:\Burglary Day-Night analysis.xlsx')

In [2]:
file1.head()

,File,Row,left_home,return_home,Day/Night
0,burglary_row_100.json,100,1900 hrs on 2022-11-25,1030 hrs on 2022-11-26,Night
1,burglary_row_104.json,104,2200 hours on 2022-11-16,1000 hours on 2022-11-17,Night
2,burglary_row_109.json,109,F/D/T,L/D/T/L,unknown
3,burglary_row_10a.json,10a,at around 2000\n hours on 2022-07-19.,At around 0900 hours on 2022-07-20,night
4,burglary_row_110.json,110,1800 hours on 2022-05-04,0700 hours on 2022-05-05,night

In [3]:
file2=pd.read_excel(r'E:\Burglary_sumit to vender_1 round.xlsx')

In [4]:
file2.head()

,Row,P4_CRIME_MESSAGE,submit to vendor,done?,breaking in?,cctv,how many of cctv,Gang or Solo,Cases Nature
0,2,4. AP4 (previously WP2) is an active burgla...,2023-01-30,yes,breaking in,NaN,multi,Gang,NaN
1,3,4. A/L is a 200 sq ft. fast food kiosk whic...,2023-01-30,yes,breaking in,yes,three,Gang,NaN
2,4,4. A/L situated in a 19-storey public estat...,2023-01-30,yes,breaking in,yes,two,none,NaN
3,5,4. The subject hillside-facing estate consi...,2023-01-30,yes,without breaking,yes,one,none,NaN
4,6,4. Residential Structure\n ===========...,2023-01-30,yes,without breaking,no,none,none,NaN

In [5]:
# join two excel files:
# 
#  connvert Row column to string:
file2['Row']=file2['Row'].astype(str)

In [6]:
file3=pd.merge(file1,file2,on='Row',how='outer')

In [7]:
file3.head()

,File,Row,left_home,return_home,Day/Night,P4_CRIME_MESSAGE,submit to vendor,done?,breaking in?,cctv,how many of cctv,Gang or Solo,Cases Nature
0,burglary_row_100.json,100,1900 hrs on 2022-11-25,1030 hrs on 2022-11-26,Night,4. VTM runs a 80 sq ft jade retail shop (VT...,2023-01-30,Yes,Breaking In,No,No,none,NaN
1,burglary_row_104.json,104,2200 hours on 2022-11-16,1000 hours on 2022-11-17,Night,4. A/L is a 100 fts storeroom at a 3-storey...,2023-01-30,Yes,No Breaking In,Yes,Multi,Solo,NaN
2,burglary_row_109.json,109,F/D/T,L/D/T/L,unknown,4. A/L is a tutorial centre with one main e...,2023-01-30,Yes,Breaking In,Yes,single,None,NaN
3,burglary_row_10a.json,10a,at around 2000\n hours on 2022-07-19.,At around 0900 hours on 2022-07-20,night,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN
4,burglary_row_110.json,110,1800 hours on 2022-05-04,0700 hours on 2022-05-05,night,4. A/L is situated at G/F of Grand Industri...,2023-01-30,Yes,Breaking In,Yes,Multi,Gang,NaN

In [8]:
# keep only required 0:6 columns:
file3=file3.iloc[:,0:6]

In [11]:
#  save file as csv:
file3.to_excel(r'E:\Burglary Day-Night analysis_MergedNew.xlsx',index=False)

In [10]:
file3.shape

(162, 6)